<div class="container">

    <h2>Pets & Supplies</h2>

    <tabset justified="true">
         <tab ng-repeat="pet in pet" heading="{{pet.name}}">
            Type: {{pet.type}}
             <br>
            Breed: {{pet.breed}}
             <br>
             Age: {{pet.age}}
             <br>
             Weight: {{pet.weight}}
             <br>
             Preference in an evacuation: {{pet.preference}}
             <br>
             <u>Supplies Needed</u>
            <div ng-repeat="supply in pet.supplies">
                {{supply.name}}
            </div>
         </tab>
        <!--<tab heading="Pet 1">Pet 1 content</tab>-->
        <!--<tab heading="Pet 2">Pet 2 content</tab>-->
        <!--<tab heading="Pet 3">Pet 3 content</tab>-->
    </tabset>

    <p class="">
        <a href="#/documents"><button class="btn btn-large btn-success" type="button">Next</button></a>
        <a href="#/people"><button class="btn btn-large btn-warning" type="button">Previous</button></a>
    </p>

</div>