<div class="container">

    <h2>Add Person</h2>
    <div class="form-group">
        <label>Person</label>
        <input class = "form-control" ng-model="person.name" placeholder="Name">

        <br>

            <div>Gender
                <select ng-options="gender for gender in genders" ng-model="person.gender" ng-change="genderChange()"></select>
            </div>
            <br>
            <label>Birthday</label>
            <div>Month
                <select ng-options="month.num as month.str for month in months" ng-model="person.birthMonth"></select>
            </div>
            <div>Year
                <select ng-options="year for year in years" ng-model="person.birthYear"></select>
            </div>
        </div>
        <br>

        <div>Relationship
            <select ng-options="pickRelative for pickRelative in pickRelatives" ng-model="person.relationship"></select>
        </div>
        <br>
        <div class="row">
            <label>Special Needs</label>
            <label class="checkbox" ng-model="person.specialConditions">
                <input type="checkbox" name="specialConditions">
                    None<br>
                <input type="checkbox" name="specialConditions">
                    Vision Needs<br>
                <input type="checkbox" name="specialConditions">
                    Medical Needs<br>
                <input type="checkbox" name="specialConditions">
                    Physical Handicap<br>
            </label>
        </div>
    </div>
    <br>
     <button class="btn btn-success center-block" ng-click="addPerson()">Save</button>
    <br>
</div>
