
<h2 class="who-what-title">Add a Person</h2>

    <div class="form-group">

        <div class="form-group form-horizontal" style="margin-top: 20px;">
            <div class="input-group pers-margin">
                <span class="input-group-addon pers-lab">Name</span>
                <input class="form-control pers-wid" ng-model="person.name" placeholder="Enter Name">
            </div>
            <div class="input-group pers-margin">
                <span class="input-group-addon pers-lab">Gender</span>
                <select class="form-control" style="width: 100px;" ng-options="gender for gender in genders"
                        ng-model="person.gender"
                        ng-change="genderChange()"></select>
            </div>
            <div class="input-group pers-margin">
                <span class="input-group-addon pers-lab">Birthday</span>

                <div>
                    <select class="form-control pers-wid"
                            ng-options="month.num as month.str for month in months"
                            ng-model="person.birthMonth" required>
                    </select>

                    <div>
                        <div class="input-group">
                            <input class="form-control" type="number" placeholder="Year"
                                   style="width: 100px;"
                                   ng-model="person.birthYear"
                                   ng-focus="startValidation=true" ng-blur="startValidation=false"
                                   required>

                            <div style="font-size: .85em; padding:5px; margin: 0px;"
                                 class="alert alert-danger input-group-addon"
                                 ng-hide="validateYear() || !startValidation">
                                Enter a year between 1900 and {{curYear}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="font-size: .85em; padding:5px; margin: 0px;"
                 class="alert alert-danger" ng-hide="validateYear() || !startValidation">
                Enter a year between 1900 and {{curYear}}
            </div>
            <div class="input-group pers-margin">
                <span class="input-group-addon pers-lab">Relationship</span>
                <select class="form-control pers-wid" ng-options="pickRelative for pickRelative in pickRelatives"
                        ng-model="person.relationship"></select>
            </div>
            <div class="input-group pers-margin">
                <span class="input-group-addon pers-lab">Special Needs</span>

                <div class="input-group" ng-repeat="condition in specialConditions">
                <span class="input-group-addon">
                    <input type="checkbox" ng-model="condition.checked">
                </span>

                    <div class="form-control chk-wid">{{ condition.name }}</div>
                </div>
            </div>

            <div class="pers-margin">
                <textarea class="form-control" style="height: 100px; width: 317px;"
                          placeholder="Enter extra comments if needed..."
                          ng-model="person.comments"></textarea>
                <button class="btn btn-success" style="margin-top: 8px !important;" ng-click="addPerson()">Save</button>
            </div>
        </div>
    </div>