<div class="container">
<div id="panel">
    <b>Mode of Travel: </b>
    <select ng-model="travelMode" ng-options="mode.value as mode.name for mode in travelModes" ng-change="calcRoute()">

    </select>
</div>

<div id="panel">
    <b>Start: </b>
    <select ng-model="start" ng-options="location for location in locations" ng-change="calcRoute()">
    </select>

    <h4>Waypoints:</h4>
    <!--<pre>Model: {{selected | json}}</pre>-->
    <input ng-model="selected" id="input" class="controls" type="text">
    <button ng-click="addWaypoint()">Add</button>
    <ul>
        <li ng-repeat="waypoint in waypoints track by waypoint.location">{{waypoint.location}} <a><i class="fa fa-close"></i></a></li>
    </ul>
    <div>
        <b>End: </b>
        <select ng-model="end" ng-options="location for location in locations" ng-change="calcRoute()">
        </select>
    </div>
</div>

<div style="text-align: center">
    <div id="map-canvas"></div>
    <div id="directionsPanel"></div>
    <p>Total Distance: <span id="total"></span></p>
</div>
</div>