/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.angular-google-map-container {
    height: 400px;
    width: 400px;
}

#map-canvas {
    height: 400px !important;
    width: 60% !important;
    margin: 0;
    padding: 0;
    display: inline-block;
}

 #panel {
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
 }

 #directionsPanel {
     height: 400px;
     width: 20%;
     display: inline-block;
     overflow: scroll;
 }
div.panel-heading {
    background-color: #ffffff !important;
    border-radius: 10px !important;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

div.panel-heading:hover {
    /*text-align: center !important;*/
    margin-left: 3em !important;
    color: blue !important;
}

a.accordion-toggle {
    text-decoration: none !important;
    cursor: pointer;
}

a.accordion-toggle:hover {
    cursor: hand;
}
