<div ng-controller="DestinationCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 destination-panel-border">
                <div class="destination-header">
                    <h5><span class="glyphicon glyphicon-map-marker"></span>Close Range (0-75 miles)</h5>
                </div>

                <div class="add-destination">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span> Add Destination</a>
                </div>
                <div class="destination-body">

                    <div class="destination-body-text center-block">

                        <span class="glyphicon glyphicon-home"></span>

                        <strong> Maggie's Place</strong><br>

                        <span class="glyphicon glyphicon-map-marker"></span>

                        <strong>Payson, UT</strong><br>

                        <span class="glyphicon glyphicon-phone-alt"></span>

                        <strong>801-400-5447</strong><br>

                        <span class="glyphicon glyphicon-picture"></span>

                        <strong>Route Selected</strong><br>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-3 col-sm-offset-1 destination-panel-border">
        <div class="destination-header">

        </div>
        <div>
            <textarea name="myTextBox" cols="30" rows="5">
                Household Name
            </textarea>
            <br/>
            <input type="submit"/>

        </div>
    </div>
   <label ng-repeat="route in route" heading="{{route.destinations}}">
        <div ng-repeat="stop in route.destinations">
            <ul>
                <li>{{stop.name}}</li>
                <li>{{stop.address}}</li>
                <li>{{stop.phone}}</li>
                <li>{{stop.type}}</li>
            </ul>
        </div>
   </label>

</div>

<div class="col-sm-3 col-sm-offset-1 destination-panel-border">
    <div class="destination-header"></div>

    <div class="icon"></div>
    <p>House icon: <span class="glyphicon glyphicon-house"></span></p>
</div>
