<div class="container">

    <h2 class="who-what-title">Who will go with you?</h2>

    <div class="tab-out-con">
        <div class="tab-in-con">
            <tabset justified="true">
                <tab ng-repeat="person in people" heading="{{person.name}}">
                    Gender: {{person.gender}}
                    <br>
                    Birthdate: {{person.birthMonth}} {{person.birthYear}}
                    <br>
                    Relationship: {{person.relationship}}
                    <br>
                    Special Conditions: {{person.specialConditions}}
                    <br>
                    <u>Supplies Needed:</u>

                    <div ng-repeat="supply in person.supplies">
                        {{supply.name}}
                    </div>
                </tab>
            </tabset>
        </div>
    </div>


    <p class="">
        <a href="#/pets">
            <button class="btn btn-large btn-success" type="button">Next</button>
        </a>
    </p>

</div>
