<div class="container">
    <h2>Add Pet</h2>
    <div class="row">

        <label>What Pets Do You Have?</label>

        <div ng-repeat="animal in animals">
            <input type="checkbox" ng-change="noneChecked(animal)"
                   ng-model="animal.checked" ng-hide="animal.disabled">
            <span ng-hide="animal.disabled">{{animal.type}}</span>
            <input type="text" ng-model="animal.count"
                   ng-hide="animals[0].checked || !animal.checked"
                   >

        </div>



        <button class="btn pet-save-but center-block" ng-click="addPets()">Continue</button>
</div>
</div>